In [1]:
import pandas as pd
import re

C:\Users\siddh\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\siddh\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\siddh\anaconda3\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
import html2text

In [3]:
import urllib.request
HtmlFile = open('afjal raja soa.htm', 'r', encoding='utf-8')
source_code = HtmlFile.read()

In [4]:
s = html2text.html2text(source_code).replace('\r', '')

In [5]:
res = re.sub(' +', ' ', s)

In [6]:
# res

In [7]:
df = pd.read_csv('data.txt')

ParserError: Error tokenizing data. C error: Expected 8 fields in line 9, saw 9

In [ ]:

#open text file
text_file = open("data.txt", "w")
 
#write string to file
text_file.write(res)
 
#close file
text_file.close()

In [ ]:
df

In [ ]:
res = res.replace(' ',',')

In [ ]:
res = res[1:]

In [145]:
import tabula
# Read a PDF File
df = tabula.read_pdf("UNITED services..pdf", pages='all')[0]
# convert PDF into CSV

print(df)

In [34]:
tabula.convert_into("UNITED services..pdf", "united1.csv", output_format="csv", pages='1')

Got stderr: Feb 04, 2023 7:27:22 PM org.apache.pdfbox.contentstream.operator.text.SetFontAndSize process
WARNING: font 'Helvetica-Bold' not found in resources
Feb 04, 2023 7:27:22 PM org.apache.pdfbox.contentstream.operator.text.SetFontAndSize process
WARNING: font 'Helvetica' not found in resources
Feb 04, 2023 7:27:22 PM org.apache.pdfbox.contentstream.operator.text.SetFontAndSize process
WARNING: font 'Helvetica-Bold' not found in resources
Feb 04, 2023 7:27:22 PM org.apache.pdfbox.contentstream.operator.text.SetFontAndSize process
WARNING: font 'Helvetica' not found in resources
Feb 04, 2023 7:27:22 PM org.apache.pdfbox.contentstream.operator.text.SetFontAndSize process
WARNING: font 'Helvetica-Bold' not found in resources
Feb 04, 2023 7:27:22 PM org.apache.pdfbox.contentstream.operator.text.SetFontAndSize process
WARNING: font 'Helvetica' not found in resources
Feb 04, 2023 7:27:22 PM org.apache.pdfbox.contentstream.operator.text.SetFontAndSize process
WARNING: font 'Helvetica-Bold' not found in resources
Feb 04, 2023 7:27:22 PM org.apache.pdfbox.contentstream.operator.text.SetFontAndSize process
WARNING: font 'Helvetica' not found in resources

In [36]:
tabula.convert_into("UNITED services..pdf", "united2.csv", output_format="csv", pages='2')

In [48]:
tabula.convert_into("UNITED services..pdf", "united3.csv", output_format="csv", pages='3')

In [42]:
tabula.convert_into("UNITED services..pdf", "united4.csv", output_format="csv", pages='4')

In [43]:
tabula.convert_into("UNITED services..pdf", "united5.csv", output_format="csv", pages='5')

In [44]:
df1 = pd.read_csv('united1.csv')

In [51]:
df2 = pd.read_csv('united2.csv')
df3 = pd.read_csv('united3.csv')
df4 = pd.read_csv('united4.csv')
df5 = pd.read_csv('united5.csv')

In [54]:
df1+df2+df3+df4+df5

,BALANCE,CREDITS,DEBITS,DESCRIPTION,REFERENCE,TXN DATE,Unnamed: 3,VALUE DATE
0,NaN,NaN,NaN,B/F ...VIKASPURIVIKASPURIATD:0100602748:800025...,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,CHEQUE DEPOSIT DELHI-SBINEFT CR-SBIN0016120-UN...,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,ATW:0100602748:DWARKA MORE:+YBLUNITED SERVICES...,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,DWARKA MOREDWARKA MOREATW:0100602748:VIKASPURI...,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,ATW:0100602748:DWARKA MORE:+YBLVIKASPURIVIKASP...,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df_main = pd.concat([df1, df2,df3,df4,df5], axis=0)

In [65]:
df_main.drop(['Unnamed: 3'], axis=1)

,TXN DATE,VALUE DATE,DESCRIPTION,REFERENCE,DEBITS,CREDITS,BALANCE
0,01-JAN-2016,01-JAN-2016,B/F ...,NaN,0.00,0.00,0.00
1,28-APR-2017,29-APR-2017,CHEQUE DEPOSIT DELHI-SBI,2.118100e+04,0.00,"50,000.00","50,000.00"
2,06-MAY-2017,06-MAY-2017,ATW:0100602748:DWARKA MORE:+YBL,7.126170e+11,"20,000.00",0.00,"30,000.00"
3,NaN,NaN,DWARKA MOREDWARKA MORE,NaN,NaN,NaN,NaN
4,06-MAY-2017,06-MAY-2017,ATW:0100602748:DWARKA MORE:+YBL,7.126170e+11,"20,000.00",0.00,"10,000.00"
...,...,...,...,...,...,...,...
12,NaN,NaN,ACCOUNTS-BARBH17158491788,NaN,NaN,NaN,NaN
13,07-JUN-2017,07-JUN-2017,IMPS/MANISH,NaN,0.0,100.00,"228,954.00"
14,NaN,NaN,SHARMAMANISH/XXX1778/RRN:7158176987,NaN,NaN,NaN,NaN
15,NaN,NaN,58/,NaN,NaN,NaN,NaN
16,08-JUN-2017,08-JUN-2017,CASH DEP-MANJALPUR,0.000000e+00,0.0,"11,199.00","240,153.00"

In [66]:
df_main.reset_index()

,index,TXN DATE,VALUE DATE,DESCRIPTION,REFERENCE,DEBITS,CREDITS,BALANCE,Unnamed: 3
0,0,01-JAN-2016,01-JAN-2016,B/F ...,NaN,0.00,0.00,0.00,NaN
1,1,28-APR-2017,29-APR-2017,CHEQUE DEPOSIT DELHI-SBI,2.118100e+04,0.00,"50,000.00","50,000.00",NaN
2,2,06-MAY-2017,06-MAY-2017,ATW:0100602748:DWARKA MORE:+YBL,7.126170e+11,"20,000.00",0.00,"30,000.00",NaN
3,3,NaN,NaN,DWARKA MOREDWARKA MORE,NaN,NaN,NaN,NaN,NaN
4,4,06-MAY-2017,06-MAY-2017,ATW:0100602748:DWARKA MORE:+YBL,7.126170e+11,"20,000.00",0.00,"10,000.00",NaN
...,...,...,...,...,...,...,...,...,...
299,12,NaN,NaN,ACCOUNTS-BARBH17158491788,NaN,NaN,NaN,NaN,NaN
300,13,07-JUN-2017,07-JUN-2017,IMPS/MANISH,NaN,0.0,100.00,"228,954.00",NaN
301,14,NaN,NaN,SHARMAMANISH/XXX1778/RRN:7158176987,NaN,NaN,NaN,NaN,NaN
302,15,NaN,NaN,58/,NaN,NaN,NaN,NaN,NaN
303,16,08-JUN-2017,08-JUN-2017,CASH DEP-MANJALPUR,0.000000e+00,0.0,"11,199.00","240,153.00",NaN

In [67]:
df_main.to_csv('united.csv')

In [172]:
import camelot
tables = camelot.read_pdf('Vijaya.pdf',flavor='stream')
tables.export('X.csv', f='csv')

AttributeError: module 'camelot' has no attribute 'read_pdf'

In [207]:
import os
ls = os.listdir("Vijaya")

In [208]:
df = pd.read_csv('Vijaya/'+ls[1])

In [212]:
for i in ls:
    t_df = pd.read_csv('Vijaya/'+i)
    df = pd.concat([df,t_df],axis=0)

In [214]:
df.reset_index()

,index,Date,Transaction Particulars,Ch No,Debit,Credit,Balance,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,0,06/11/2018 NFSD/S1BW000213//15:07:35/831015008206,NaN,NaN,"9,923.60",NaN,"5,480.20",NaN,NaN,NaN,NaN,NaN,NaN
1,1,06/11/2018 NFSD/S1BW000213//15:08:20/831015008235,NaN,NaN,"4,923.60",NaN,556.60,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,06/11/2018 IMPS/831017082581/P2A/MWK/ne Mobikw...,NaN,NaN,"4,500.00","5,056.60",NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,06/11/2018 IMPS/831017214710/P2A/PTM/EKH FAJLU...,NaN,NaN,"5,000.00","10,056.60",NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,06/11/2018 IMPS/831017216194/P2A/PTM/EKH FAJLU...,NaN,NaN,"5,000.00","15,056.60",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,41,04/12/2018 APY-SI-90220-04/12/2018,NaN,NaN,151.00,NaN,298.24,NaN,NaN,NaN,NaN,NaN,NaN
222,42,NaN,04/12/2018 IMPS/833817136621/P2A/PTM/AJENURA K...,NaN,NaN,"10,000.00","10,298.24",NaN,NaN,NaN,NaN,NaN,NaN
223,43,NaN,04/12/2018 IMPS/833817138810/P2A/PTM/AJENURA K...,NaN,NaN,"8,000.00","18,298.24",NaN,NaN,NaN,NaN,NaN,NaN
224,44,04/12/2018 NFSD/S1BW000213//19:17:51/833819009872,NaN,NaN,"10,023.60",NaN,"8,274.64",NaN,NaN,NaN,NaN,NaN,NaN
225,45,NaN,05/12/2018 IMPS/833911712701/P2A/PTM/AJKUMAR S...,NaN,NaN,"25,000.00","33,274.64",NaN,NaN,NaN,NaN,NaN,NaN

In [215]:
df.to_csv('Vijaya.csv')

In [166]:
df.Date = df.Date.astype(str)

In [167]:
df = pd.DataFrame(df.Date.str.split(' ',1).tolist(),columns = ['Date','new Date'])

In [138]:
intro = intro[intro.find('Date'):]

In [143]:
intro

'Date","Transaction Particulars","Ch No","Debit","Credit","Balance"\n"17/10/2018 BY CASH","","","","2,000.00","2,000.00"\n"20/10/2018 APY-SI-90220-20/10/2018","","","151.00","","1,849.00"\n"30/10/2018 NFSD/BWCW102106//08:24:30/830308028405","","","1,500.00","","349.00"\n"01/11/2018 UPI/830513567421/karan/UTIB/910010029790637/Pay to","","","","19,000.00","19,349.00"\n"01/11/2018 IMPS/830513336199/P2A/PTM/AMA GHARAMI/comments","","","","100.00","19,449.00"\n"01/11/2018 IMPS/830513336496/P2A/PTM/AMA GHARAMI/comments","","","","9,600.00","29,049.00"\n"","01/11/2018 IMPS/830513338488/P2A/PTM/AJESWARI NASKAR/comments","","","100.00","29,149.00"\n"","01/11/2018 IMPS/830513338858/P2A/PTM/AJESWARI NASKAR/comments","","","7,700.00","36,849.00"\n"01/11/2018 UPI/830513567452/karan/UTIB/910010029790637/Pay to","","","","3,000.00","39,849.00"\n"01/11/2018 NFSD/S1BW000213//14:25:42/830514030954","","","10,000.00","","29,849.00"\n"01/11/2018 NFSD/S1BW000213//14:26:14/830514030967","","","10,000.00","","19,849.00"\n"01/11/2018 NFSD/S1BW000213//14:26:46/830514030981","","","10,000.00","","9,849.00"\n"01/11/2018 POS/JAMTARA J/DIGITAL TELE/830518843211","","","8,000.00","","1,849.00"\n"02/11/2018 IMPS/830613087904/P2A/PTM/HAYRAN MOLLA/comments","","","","100.00","1,949.00"\n"02/11/2018 IMPS/830613088132/P2A/PTM/HAYRAN MOLLA/comments","","","","23,400.00","25,349.00"\n"02/11/2018 NFSD/GFNV000213//13:29:40/830613030111","","","10,023.60","","15,325.40"\n"02/11/2018 NFSD/GFNV000213//13:30:16/830613030170","","","10,023.60","","5,301.80"\n"02/11/2018 NFSD/GFNV000213//13:30:55/830613030225","","","4,523.60","","778.20"\n"","02/11/2018 IMPS/830613104110/P2A/PTM/BDUL HANNAN MIR/comments","","","1,900.00","2,678.20"\n"02/11/2018 Mini Stmt Tran","","","9.44","","2,668.76"\n"02/11/2018 Mini Stmt Tran","","","9.44","","2,659.32"\n"03/11/2018 IMPS/830614118388/02112018/F01","","","","6,900.00","9,559.32"\n"03/11/2018 IMPS/830718966768/P2A/PTM/BDUL MANNAN GHARAMI/","","","","24,900.00","34,459.32"\n"03/11/2018 IMPS/830718967201/P2A/PTM/BDUL MANNAN GHARAMI/","","","","5,000.00","39,459.32"\n"03/11/2018 Mini Stmt Tran","","","9.44","","39,449.88"\n"03/11/2018 NFSD/GFNV000213//18:25:54/830718011702","","","10,023.60","","29,426.28"\n"03/11/2018 NFSD/GFNV000213//18:26:28/830718011745","","","10,023.60","","19,402.68"\n"03/11/2018 NFSD/GFNV000213//18:27:05/830718011813","","","10,023.60","","9,379.08"\n"03/11/2018 IMPS/830718991854/P2A/PTM/ISWAJIT GOUNE/comments","","","","5,000.00","14,379.08"\n"03/11/2018 IMPS/830718995562/P2A/PTM/ISWAJIT GOUNE/comments","","","","4,990.00","19,369.08"\n"03/11/2018 IMPS/830718995727/P2A/PTM/ISWAJIT GOUNE/comments","","","","4,999.00","24,368.08"\n"03/11/2018 IMPS/830718997063/P2A/PTM/ISWAJIT GOUNE/comments","","","","3,800.00","28,168.08"\n"04/11/2018 Mini Stmt Tran","","","9.44","","28,158.64"\n"04/11/2018 Mini Stmt Tran","","","9.44","","28,149.20"\n"05/11/2018 NFSD/S1NB000213//08:18:21/830908010804","","","10,023.60","","18,125.60"\n"05/11/2018 NFSD/S1NB000213//08:19:14/830908010838","","","10,023.60","","8,102.00"\n"05/11/2018 NFSD/S1NB000213//08:20:09/830908010864","","","7,523.60","","578.40"\n"05/11/2018 APY-SI-90220-05/11/2018","","","151.00","","427.40"\n"06/11/2018 IMPS/831014070694/P2A/PTM/SHA SINGH/","","","","16,000.00","16,427.40"\n"06/11/2018 IMPS/831014073033/P2A/PTM/SHA SINGH/","","","","9,000.00","25,427.40"\n"06/11/2018 NFSD/S1BW000213//15:06:59/831015008188","","","10,023.60","","15,403.80"\n'

In [140]:
#open text file
text_file = open("data.csv", "w")
 
#write string to file
text_file.write(intro)
 
#close file
text_file.close()

In [148]:
df = pd.read_csv('data.csv')

In [142]:
df

,"Date""",Transaction Particulars,Ch No,Debit,Credit,Balance
0,17/10/2018 BY CASH,NaN,NaN,NaN,"2,000.00","2,000.00"
1,20/10/2018 APY-SI-90220-20/10/2018,NaN,NaN,151.00,NaN,"1,849.00"
2,30/10/2018 NFSD/BWCW102106//08:24:30/830308028405,NaN,NaN,"1,500.00",NaN,349.00
3,01/11/2018 UPI/830513567421/karan/UTIB/9100100...,NaN,NaN,NaN,"19,000.00","19,349.00"
4,01/11/2018 IMPS/830513336199/P2A/PTM/AMA GHARA...,NaN,NaN,NaN,100.00,"19,449.00"
5,01/11/2018 IMPS/830513336496/P2A/PTM/AMA GHARA...,NaN,NaN,NaN,"9,600.00","29,049.00"
6,NaN,01/11/2018 IMPS/830513338488/P2A/PTM/AJESWARI ...,NaN,NaN,100.00,"29,149.00"
7,NaN,01/11/2018 IMPS/830513338858/P2A/PTM/AJESWARI ...,NaN,NaN,"7,700.00","36,849.00"
8,01/11/2018 UPI/830513567452/karan/UTIB/9100100...,NaN,NaN,NaN,"3,000.00","39,849.00"
9,01/11/2018 NFSD/S1BW000213//14:25:42/830514030954,NaN,NaN,"10,000.00",NaN,"29,849.00"
10,01/11/2018 NFSD/S1BW000213//14:26:14/830514030967,NaN,NaN,"10,000.00",NaN,"19,849.00"
11,01/11/2018 NFSD/S1BW000213//14:26:46/830514030981,NaN,NaN,"10,000.00",NaN,"9,849.00"
12,01/11/2018 POS/JAMTARA J/DIGITAL TELE/83051884...,NaN,NaN,"8,000.00",NaN,"1,849.00"
13,02/11/2018 IMPS/830613087904/P2A/PTM/HAYRAN MO...,NaN,NaN,NaN,100.00,"1,949.00"
14,02/11/2018 IMPS/830613088132/P2A/PTM/HAYRAN MO...,NaN,NaN,NaN,"23,400.00","25,349.00"
15,02/11/2018 NFSD/GFNV000213//13:29:40/830613030111,NaN,NaN,"10,023.60",NaN,"15,325.40"
16,02/11/2018 NFSD/GFNV000213//13:30:16/830613030170,NaN,NaN,"10,023.60",NaN,"5,301.80"
17,02/11/2018 NFSD/GFNV000213//13:30:55/830613030225,NaN,NaN,"4,523.60",NaN,778.20
18,NaN,02/11/2018 IMPS/830613104110/P2A/PTM/BDUL HANN...,NaN,NaN,"1,900.00","2,678.20"
19,02/11/2018 Mini Stmt Tran,NaN,NaN,9.44,NaN,"2,668.76"
20,02/11/2018 Mini Stmt Tran,NaN,NaN,9.44,NaN,"2,659.32"
21,03/11/2018 IMPS/830614118388/02112018/F01,NaN,NaN,NaN,"6,900.00","9,559.32"
22,03/11/2018 IMPS/830718966768/P2A/PTM/BDUL MANN...,NaN,NaN,NaN,"24,900.00","34,459.32"
23,03/11/2018 IMPS/830718967201/P2A/PTM/BDUL MANN...,NaN,NaN,NaN,"5,000.00","39,459.32"
24,03/11/2018 Mini Stmt Tran,NaN,NaN,9.44,NaN,"39,449.88"
25,03/11/2018 NFSD/GFNV000213//18:25:54/830718011702,NaN,NaN,"10,023.60",NaN,"29,426.28"
26,03/11/2018 NFSD/GFNV000213//18:26:28/830718011745,NaN,NaN,"10,023.60",NaN,"19,402.68"
27,03/11/2018 NFSD/GFNV000213//18:27:05/830718011813,NaN,NaN,"10,023.60",NaN,"9,379.08"
28,03/11/2018 IMPS/830718991854/P2A/PTM/ISWAJIT G...,NaN,NaN,NaN,"5,000.00","14,379.08"
29,03/11/2018 IMPS/830718995562/P2A/PTM/ISWAJIT G...,NaN,NaN,NaN,"4,990.00","19,369.08"
30,03/11/2018 IMPS/830718995727/P2A/PTM/ISWAJIT G...,NaN,NaN,NaN,"4,999.00","24,368.08"
31,03/11/2018 IMPS/830718997063/P2A/PTM/ISWAJIT G...,NaN,NaN,NaN,"3,800.00","28,168.08"
32,04/11/2018 Mini Stmt Tran,NaN,NaN,9.44,NaN,"28,158.64"
33,04/11/2018 Mini Stmt Tran,NaN,NaN,9.44,NaN,"28,149.20"
34,05/11/2018 NFSD/S1NB000213//08:18:21/830908010804,NaN,NaN,"10,023.60",NaN,"18,125.60"
35,05/11/2018 NFSD/S1NB000213//08:19:14/830908010838,NaN,NaN,"10,023.60",NaN,"8,102.00"
36,05/11/2018 NFSD/S1NB000213//08:20:09/830908010864,NaN,NaN,"7,523.60",NaN,578.40
37,05/11/2018 APY-SI-90220-05/11/2018,NaN,NaN,151.00,NaN,427.40
38,06/11/2018 IMPS/831014070694/P2A/PTM/SHA SINGH/,NaN,NaN,NaN,"16,000.00","16,427.40"
39,06/11/2018 IMPS/831014073033/P2A/PTM/SHA SINGH/,NaN,NaN,NaN,"9,000.00","25,427.40"
40,06/11/2018 NFSD/S1BW000213//15:06:59/831015008188,NaN,NaN,"10,023.60",NaN,"15,403.80"

In [122]:
#open text file
text_file = open("data.txt", "w")
 
#write string to file
text_file.write(st)
 
#close file
text_file.close()

In [123]:
pd.read_csv('data.txt')

                                                                  Date Transaction Particulars Ch No Debit Credit Balance
06/11/2018 |NFSD/S1BW000213//15:07:35/831015008... 923.60] 5                                                  480.20
06/11/2018 |NFSD/S1BW000213//15:08:20/831015008... NaN                                                           NaN
06/11/2018 |IMPS/831017082581/P2A/MWK/ne Mobikw... 056.60)                                                       NaN
06/11/2018 |IMPS/831017214710/P2A/PTM/EKH FAJLU... 056.60                                                        NaN
06/11/2018 |IMPS/831017216194/P2A/PTM/EKH FAJLU... 056.60                                                        NaN
06/11/2018 |IMPS/831017215615/P2A/PTM/EKH FAJLU... 056.60)                                                       NaN
06/11/2018 |IMPS/831017215914/P2A/PTM/EKH FAJLU... 456.60)                                                       NaN
07/11/2018|Mini Stmt Tran 9.44] 24                 447.16]                                                       NaN
07/11/2018 |NFSD/S1BW000213//16:25:40/831116031... 923.60 14                                                  523.56
07/11/2018 |NFSD/S1BW000213//16:26:21/831116031... 599.96                                                        NaN
07/11/2018 |NFSD/S1BW000213//16:27:03/831116031... NaN                                                           NaN
09/11/2018 |IMPS/831314898481/P2A/PTM/ASNAT SEK... 076.36]                                                       NaN
09/11/2018 |IMPS/831314905768/P2A/PTM/ASNAT SEK... 076.36]                                                       NaN
09/11/2018|Mini Stmt Tran 30                       066.92                                                        NaN
09/11/2018 |NFSD/S1BW000213//16:27:38/831316025... 023.60 20                                                 043.32|
09/11/2018 |NFSD/S1BW000213//16:28:10/831316025... 023.60 10                                                  019.72
09/11/2018 |NFSD/GFNV000213//16:28:41/831316025... 523.60 496.12                                                 NaN
10/11/2018 |UPI/831410924157/Anuradha S/ABPB/80... 496.12]                                                       NaN
10/11/2018 |UPI/831410924164/Anuradha S/ABPB/80... 496.12|                                                       NaN
10/11/2018|Mini Stmt Tran 25                       486.68]                                                       NaN
10/11/2018 NFSD/S1NB000213//18:35:50/8314180154... 023.60 15                                                  463.08
10/11/2018 NFSD/S1NB000213//18:36:33/8314180154... 023.60 5                                                   439.48
10/11/2018 NFSD/1FNIMT02//18:47:07/8314 18005192 5 023.60] 415.88                                                NaN
11/11/2018 |IMPS/831511443940/P24/ABB/OPAL HALD... 415.88]                                                       NaN
11/11/2018 |Mini Stmt Tran 9.44] 30                406.44]                                                       NaN
12/11/2018 ]NFSD/S1NB000213//07:40:54/831607029... 382.84]                                                       NaN
12/11/2018 ]NFSD/S1NB000213//07:41:46/831607029... 359.24                                                        NaN
12/11/2018 NFSD/S1NB000213//07:42:38/8316070299... NaN                                                           NaN
12/11/2018 |IMPS/831615947820/P2A/PTM/AIJUL SHA... 825.64]                                                       NaN
12/11/2018|Mini Stmt Tran 25                       816.20]                                                       NaN
12/11/2018 |POS/JAMTARA J/DIGITAL TELE/83161724... 000.00 15                                                  816.20
12/11/2018 |POS/JAMTARA J/DIGITAL TELE/83161724... 000.00 816.20                                                 NaN
14/11/2018 |IMPS/831811208370/P2A/PTM/AMSUDDIN ... 816.20]                                                       NaN
14/11/2018 ]IMPS/831811209360/P2A/PTM/AMSUDDIN ... 816.20)                                                       NaN
14/11/2018]Mini Stmt Tran | 29                     806.76]                                                       NaN
14/11/2018 |NFSD/S1BW000213//13:46:14/831813001... 023.60 19                                                  783.16
14/11/2018 |NFSD/S1BW000213//13:46:52/831813001... 023.60 9                                                   759.56
14/11/2018 NFSD/S1BW000213//13:47:30/8318130017... 223.60 535.96                                                 NaN
14/11/2018 |IMPS/831819625066/P2A/PTM/MBIYA BIB... 435.96]                                                       NaN
15/11/2018|Mini Stmt Tran 38                       426.52|                                                       NaN
16/11/2018|Mini Stmt Tran 38                       417.08]                                                       NaN
16/11/2018 ]NFSD/S1BW000213//07:43:31/832007018... 393.48)                                                       NaN
16/11/2018 |NFSD/S1BW000213//07:44:06/832007018... 369.88                                                        NaN
16/11/2018 |NFSD/S1BW000213//07:44:38/832007019... 023.60] 13                                                 346.28
17/11/2018|Mini Stmt Tran 9.44] 13                 336.84                                                        NaN
                                                   327.40                                                        NaN
http://172.16.3.11/statement.asp? CustId=603101... NaN                                                           NaN

In [169]:
!pip install pdfminer

Collecting pdfminer
  Downloading pdfminer-20191125.tar.gz (4.2 MB)
Collecting pycryptodome
  Downloading pycryptodome-3.17-cp35-abi3-win_amd64.whl (1.7 MB)
Building wheels for collected packages: pdfminer
  Building wheel for pdfminer (setup.py): started
  Building wheel for pdfminer (setup.py): finished with status 'done'
  Created wheel for pdfminer: filename=pdfminer-20191125-py3-none-any.whl size=6140091 sha256=46fa9d26680d17a46cb3c0997e75c06bfe4921c01ba4aec83b3bc17a3c32a8d8
  Stored in directory: c:\users\siddh\appdata\local\pip\cache\wheels\d1\aa\48\370f83a970d62355a2a47d2d640094a64eea932c22edae1891
Successfully built pdfminer
Installing collected packages: pycryptodome, pdfminer
Successfully installed pdfminer-20191125 pycryptodome-3.17

In [170]:
tabula.convert_into("Vijaya.pdf", "vij.csv", output_format="csv", pages='all')

In [171]:
pd.read_csv('vij.csv')

ParserError: Error tokenizing data. C error: Expected 2 fields in line 7, saw 6

In [220]:
import pandas as pd
  
df = pd.read_csv('acc_state.rpt', delimiter='|')

In [221]:
df

   ------------------------------------------------------------------------------------------------------------------------------------
0   Date        Tran    Ref Num    Particulars    ...
1               Id                                ...
2   ----------------------------------------------...
3            Account Opening balance : Nil        ...
4            Brought Forward :                    ...
5   22-10-2014 S9368030 TCS        281862841585//S...
6   10-02-2015 S7113338            Int:16-10-2014/...
7   11-04-2015 S5052800 TCS        429777342311//M...
8   13-04-2015 BI330270            TO CASH        ...
9   20-06-2015 S2980518 TCS        490282132786//M...
10  22-06-2015 BI223976            TO CASH        ...
11  08-08-2015 S1960004            Int:01-02-2015/...
12  12-08-2015  S880374 TCS        536346550114//M...
13  14-08-2015 BI311008            TO CASH        ...
14  31-08-2015 BI332481            TO CASH        ...
15  28-12-2015 S5842343 0000109769 IMPS/RRN: 53621...
16  28-12-2015 S5845991 0000109770 IMPS/RRN: 53621...
17  29-12-2015 BI140965            TO CASH        ...
18  15-02-2016 S1752148            Int:01-08-2015/...
19  22-04-2016 S3160051 0000153825 IMPS/RRN: 61131...
20  22-04-2016 S3162445 0000153826 IMPS/RRN: 61131...
21  10-05-2016 S4162143            Int:01-02-2016/...
22  27-05-2016 BI394790            TO CASH        ...
23  10-08-2016 S6697106            Int:01-05-2016/...
24  13-11-2016 S9756723            Int:01-08-2016/...
25  12-01-2017 S7459278 0000295897 IMPS/RRN: 70121...
26  12-01-2017 S7462249 0000295898 IMPS/RRN: 70121...
27  16-01-2017 BI176789            TO CASH        ...
28  ----------------------------------------------...
29           Total(Curr. INR) :                   ...
30  ----------------------------------------------...
31                                                  ^